* {margin:0; padding:0; box-sizing:border-box;}

body{
    background-color:#FEF9F6;
}

.cover{
    background-image:url(cover.png);
    background-repeat:no-repeat;
    background-size:cover;
    height:400px;
    text-align:center;
}

h1{
    padding-top:50px;
    text-align:center;
    font-size:50px;
    font-family:'Kiwi Maru';
}

h2{
    padding-top:20px;
    padding-bottom:30px;
    font-size:30px;
    font-family:'Kiwi Maru';
}

.cover p{
    font-size:18px;
    font-family:'Kiwi Maru';
    background-color:#fccae0;
    width:500px;
    margin:0 auto;
    padding:10px;
    border:1px solid #FFF1F1;
    border-radius:10px;
}

.content-1, .content-2, .content-3, .footer{
    display:flex;
    justify-content:center;
    gap:50px;
}

.projects-emelia{
    margin:50px 20px 20px 20px;
    font-family:'Kiwi Maru';
    font-size:20px;
    background-color:white;
    border: 1px solid #8E7798;
    height:300px;
    width:500px;
    border-radius:15px;
    box-shadow: 12px 12px 2px 1px #E4DDED;
    background:url(emelia.png);
    background-size:cover;
    background-position:top;
    transition:ease-in-out 2s;
}

.projects-emelia p, .projects-tattoo p, .projects-hnanimations p, .projects-orange p, .projects-guide p{
    width:500px;
    height:300px;
    cursor:pointer;
    opacity:0;
}

a:visited{
    color:black;
}

a:hover{
    color:#804949;
}

a:active{
    color:#804949;
}

a.lastclicked{
    color:#804949;
}

.projects-tattoo{
    margin:50px 20px 20px 20px;
    font-family:'Kiwi Maru';
    font-size:20px;
    background-color:white;
    border: 1px solid #8E7798;
    height:300px;
    width:500px;
    border-radius:15px;
    box-shadow: 12px 12px 2px 1px #E4DDED;
    background:url(tattoo.png);
    background-size:cover;
    background-position:top;
    transition:ease-in-out 2s;
}

.projects-hnanimations{
    margin:100px 20px 20px 20px;
    font-family:'Kiwi Maru';
    font-size:20px;
    background-color:white;
    border: 1px solid #8E7798;
    height:300px;
    width:500px;
    border-radius:15px;
    box-shadow: 12px 12px 2px 1px #E4DDED;
    background:url(portfolio.png);
    background-size:cover;
    background-position:top;
    transition:ease-in-out 2s;
}

.projects-orange{
    margin:100px 20px 20px 20px;
    font-family:'Kiwi Maru';
    font-size:20px;
    background-color:white;
    border: 1px solid #8E7798;
    height:300px;
    width:500px;
    border-radius:15px;
    box-shadow: 12px 12px 2px 1px #E4DDED;
    background:url(orange.png);
    background-size:cover;
    background-position:top;
    transition:ease-in-out 2s;
}

.projects-guide{
    margin:100px 20px 20px 20px;
    font-family:'Kiwi Maru';
    font-size:20px;
    background-color:white;
    border: 1px solid #8E7798;
    height:300px;
    width:500px;
    border-radius:15px;
    box-shadow: 12px 12px 2px 1px #E4DDED;
    background:url(guide.png);
    background-size:cover;
    background-position:top;
    transition:ease-in-out 4.5s;
}

.projects-blank{
    margin:100px 20px 20px 20px;
    font-family:'Kiwi Maru';
    font-size:20px;
    /*background-color:white;
    border: 1px solid #8E7798;*/
    height:300px;
    width:500px;
    /*border-radius:15px;
    box-shadow: 12px 12px 2px 1px #E4DDED;
    background:url();
    background-size:cover;
    background-position:top;
    transition:ease-in-out 4.5s;*/
}

.projects-emelia:hover, .projects-tattoo:hover, .projects-hnanimations:hover, .projects-orange:hover, .projects-guide:hover{
    background-position:bottom;
}

figcaption{
    font-size:15px;
    text-align:center;
}

#flower::before{
    content:"";
    display:inline-block;
    width:40px;
    height:40px;
    margin-right:10px;
    background:url(flower.svg) no-repeat;
    background-size:contain;
    vertical-align:middle;
    animation:rotation 20s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.footer div{
    height:100px;
    width:500px;
    margin-top:50px;
}

.second-nav{
    display:none;
    background-color:#FFF3EA;
    border-top:1px solid #8E7798;
    border-bottom:1px solid #8E7798;
    height:45px;
    font-family:'Kiwi Maru';
    font-size:20px; 
    letter-spacing:10px;
    padding-top:5px;
    text-align:center;
}

@media (max-width: 1030px) {
    .content-1, .content-2, .content-3 {
        align-items:center;
        flex-direction: column;
    }

    .navbar{
        display:none;
    }

    .second-nav{
        display:block;
    }
}

@media (max-width: 500px) {
    .content-1, .content-2, .content-3 {
      flex-direction: column;
    }

    .projects-emelia, .projects-tattoo, .projects-hnanimations, .projects-orange, .projects-guide {
      width:450px;
    }

    .cover p{
        width:450px;
        font-size:16px;
    }
}